span{
    color:rgb(18, 231, 89);
}
div{
    color:rgb(9, 70, 14);
}
p{
    font-size: 20px;
}

section{
    display: flex;
}
.dlt{
    font-size: 50px;
}
   body{

    font-family: 'Noto Sans JP', sans-serif;
    color:rgb(9, 70, 14);
}
   } 
.half-width{
    width:50%;
    padding-left: 2%;
}
.half-img{
    width:50%;
}
.back{
    background-image: url(images/Green\ Concept\ Stock\ Vector\ \(Royalty\ Free\)\ 65450734.jpg);
    background-repeat: no-repeat;
}
.link
{text-decoration: none;
  
    padding:10px 10px;
    background-image:linear-gradient(rgb(199, 140, 31),rgb(235, 232, 231));
    color:rgb(190, 73, 26);
    font-weight:700;
    border-radius: 2%
}
    
.pink
{
    color:forestgreen;
}
.Experience{
    display:flex;
    
}
.width{
    width:40%;
    box-shadow: 10px 10px 40px goldenrod;
    margin-left: 5%;
    margin-right: 5%;
    padding:2%;
    border-radius: 2%;
    margin-bottom: 5%;
    margin-top: 5%;
    border-image: linear-gradiant(rgb(163, 158, 149) rgb(225, 0, 255));
      border-image-slice:1 ;
      border-left: 7px solid rgb(221, 221, 217);
}
.server{
    width:40%;
    box-shadow: 10px 10px 40px goldenrod;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding:2%;
    border-radius: 2%;
    margin-top: 5%;
     border-image: linear-gradient(rgb(238, 9, 9) rgb(1, 1, 29));
      border-image-slice:1 ;
      border-left: 7px solid rgb(204, 204, 180);
}
.Experience{
    background-image: url(images/Green\ Concept\ Stock\ Vector\ \(Royalty\ Free\)\ 65450734.jpg);
    background-repeat: no-repeat;
}

#blue{
    text-align: center;
} 
.button{
    text-decoration: none;
  
    padding:10px 10px;
    background-image:linear-gradient(rgb(199, 140, 31),rgb(235, 232, 231));
    color:rgb(190, 73, 26);
    font-weight:700;
    border-radius: 2%;
}
    
    
    