span{
    color:rgb(101, 190, 135);
}
div{
    color:rgb(9, 70, 14);
}
p{
    font-size: 20px;
}

section{
    display: flex;
}
.dlt{
    font-size: 50px;
}
   body{

    font-family: 'Noto Sans JP', sans-serif;
    color:rgb(9, 70, 14);
}
   } 
.half-width{
    width:50%;
    padding-left: 2%;
}
.half-img{
    width:50%;
}
.back{
    background-image: url(images/Green\ Concept\ Stock\ Vector\ \(Royalty\ Free\)\ 65450734.jpg);
    background-repeat: no-repeat;
}
.link{
    color: darkslateblue;
    border-right: darkolivegreen;
    margin-right: 10px;
}
.pink
{
    color:forestgreen;
}
.Experience{
    display:flex;
    
}
.width{
    width:40%;
    box-shadow: 10px 10px 40px goldenrod;
    margin-left: 5%;
    margin-right: 5%;
    padding:2%;
    border-radius: 2%;
    margin-bottom: 5%;
    margin-top: 5%;
    border-image: linear-gradiant(rgb(163, 158, 149) rgb(225, 0, 255));
      border-image-slice:1 ;
      border-left: 7px solid rgb(221, 221, 217);
}
.server{
    width:40%;
    box-shadow: 10px 10px 40px goldenrod;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding:2%;
    border-radius: 2%;
    margin-top: 5%;
    border-image: linear-gradiant(rgb(193, 193, 204) rgb(80, 73, 40));
      border-image-slice:1 ;
      border-left: 7px solid rgb(204, 204, 180);
}
.Experience{
    background-image: url(images/Green\ Concept\ Stock\ Vector\ \(Royalty\ Free\)\ 65450734.jpg);
    background-repeat: no-repeat;
}
    
