span{
    color:rgb(101, 190, 135);
}
div{
    color:rgb(9, 70, 14);
}
p{
    font-size: 20px;
}

section{
    display: flex;
}
h1{
    font-size: 50px;
}
   body{

    font-family: 'Noto Sans JP', sans-serif;
   } 
.half-width{
    width:50%;
    padding-left: 2%;
}
.half-img{
    width:50%;
}
.back{
    background-image: url(images/Green\ Concept\ Stock\ Vector\ \(Royalty\ Free\)\ 65450734.jpg);
    background-repeat: no-repeat;
}
